@inherits LayoutComponentBase

@using kreddit_app.Data
@using shared.Model
@inject ApiService apiService
@inject NavigationManager Navigation

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th colspan="3">Votes</th>
        </tr>
        @foreach (var post in posts)
        {
            <tr>
                <!-- Link til post med ID -->
                <td>
                    <a href="javascript:void(0)" @onclick="() => NavigateToPost(post.Id)">
                        @post.Title
                    </a>
                </td>
                <td>@post.Content</td>
                <td>@(post.Upvotes - post.Downvotes)</td>
                <td><button @onclick="@(() => Upvote(post.Id))">Upvote</button></td>
                <td><button @onclick="@(() => Downvote(post.Id))">Downvote</button></td>
            </tr>
        }
    </table>

    <br/>
}

@code {
    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await apiService.GetPosts();
        Console.WriteLine(posts[0].ToString()); // Debug: se hvad første post indeholder
    }

    private async Task Upvote(int id)
    {
        await apiService.UpvotePost(id);
        posts = await apiService.GetPosts();
        StateHasChanged();
    }

    private async Task Downvote(int id)
    {
        await apiService.DownvotePost(id);
        posts = await apiService.GetPosts();
        StateHasChanged();
    }

    private void NavigateToPost(int id)
    {
        Navigation.NavigateTo($"/post/{id}");
    }
}
